@import './variable.less';

body {
  height: 100vh;
  overflow: hidden;
  padding-right: 0 !important;
  color: #252f3d;
  font-size: @fontsize_body;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", 
      "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}

.module {
  height: 100%;
}

.module {
  display: flex;
  flex-direction: column;
  height: 100%;
  .tableView {
    flex: 1;
  }
}
