.vScrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  &.sidebar {
    background-color: #545c64;
  }
  &.main {
    background-color: cornsilk;
  }
  &.containerScrollbar {
    padding: 20px;
  }
}

.el-main {
  padding-top: 10px;
  padding-right: 0;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  width: 0;
}
.el-table {
  border-left: none;
  border-right: none;
  td, th {
    border-right: none;
  }
  tr {
    border-left: none;
    border-right: none;
  }
  // 部分页面中的表格可以通过检查某行所对应的数据来为其单独设置样式
  .warning-row {
    background: oldlace;
  }
  .success-row {
    background: #f0f9eb;
  }
  .selected-row {
    background: #b9f1f9;
  }
  // 调整部分样式，使其接近光环云中的表格
  .el-table-column--selection .cell {
    padding: 0 11px;
  }
  thead {
    border-bottom: none;
  }
  th {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: none !important;
    .cell {
      height: 36px;
      line-height: 36px;
      padding: 0 21px;
      border-right: 1px solid #ffffff;
      background-color: @color_gray;
    }
  }
}
// 调整row:hover颜色
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #e1f4f7;
}

.el-button {
  border: none;
  color: #ffffff !important;
  &.disabled {
    color: #a8b3be !important;
    background-color: #d9e3e5 !important;
    cursor: not-allowed;
  }
  background-color: #00afc8;
  &:hover, &:focus {
    background-color: #00a5bd;
  }
  &.el-button--primary {
    background-color: #1eb9a5;
    &:hover, &:focus {
      background-color: #09b29c;
    }
  }
  &.el-button--danger {
    background-color: #e05c69;
    &:hover, &:focus {
      background-color: #d6505c;
    }
  }
  span {
    line-height: 1.3em;
  }
}

.el-dialog {
  width: 550px;
  .el-dialog__body {
    padding-right: 48px;
    .el-select {
      width: 100%;
    }
  }
}

.el-radio-group {
  .el-radio-button__inner {
    background: @color_gray;
  }
}

// 使用radio-group来模拟光环云中的tab
.tab-radio-group {
  label {
    margin-right: 10px;
    margin-bottom: 3px;
    .el-radio-button__inner {
      border: none !important;
      border-radius: 4px !important;
      width: 80px;
    }
  }
  &.image {
    label .el-radio-button__inner {
      width: 235px;
      text-align: left;
      margin-bottom: 10px;
    }
  }
}

.resource {
  .el-card__header {
    background: @color_gray;
    font-weight: bold;
    font-size: 16px;
  }

  margin-bottom: 20px;
}

.el-alert {
  margin-bottom: 10px;
}

.el-collapse {
  border: none;
  .el-collapse-item__header {
    background-color: @color_gray;
    margin-bottom: 10px;
    padding-left: 16px;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    .el-collapse-item__arrow {
      line-height: 36px;
    }
  }
  .el-collapse-item__wrap {
    padding-left: 16px;
  }
}

.detailView .el-tabs {
  display: flex;
  flex-direction: column;
  .el-tabs__content {
    height: 100%;
    overflow: auto;
  }
}

.el-message-box__btns {
  .el-button--default:not(.el-button--primary) {
    background-color: #a8b3be;
  }
}

.el-steps {
  margin-left: 25px;
  margin-bottom: 15px;
}

.inline-input {
  width: 200px !important;
}

.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  .el-form-item__error {
    line-height: 9px;
  }
}

.el-radio-group.column-radio {
  display: flex;
  flex-direction: column;
  .el-radio {
    margin-top: 10px;
  }
  .el-radio+.el-radio {
    margin-left: 0px;
  }
}
