.vScrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  &.sidebar {
    background-color: #545c64;
  }
  &.main {
    background-color: cornsilk;
  }
  &.containerScrollbar {
    padding: 20px;
  }
}

.el-table {
  .el-table-column--selection .cell {
    // padding: 4px;
  }
  th {
    background-color: #ecf0f2;
    padding: 4px;
    height: 28px;
  }
}
