@fontsize_main_title: 20px;
@fontsize_title: 18px;
@fontsize_small_title: 16px;
@fontsize_body: 14px;
@fontsize_small_body: 13px;
@fontsize_supplementary_text: 12px;

@color_link: #00afc8;
@color_gray: #ecf0f2;
